

.mat-toolbar span {
  font-weight: bold;
}

.custom-title::before {
  content: "Animes";
  color: blue;
}

.custom-title::after {
  content: "Cut";
  color: yellow;
}
.custom-title{
font-family: 'Tilt Prism', sans-serif;
font-size: 24px;
font-weight: bold;
color: #007bff;
}

.flex-container {
  display: flex;
  align-items: center;
  flex: 1 1 auto;
}

.flex-spacer {
  flex: 1 ; /* Espaçador flexível, empurra os botões para a direita */
}
.custom-button {
  min-width: 0; /* Defina o tamanho mínimo do botão */
   /* Ajuste o preenchimento conforme necessário */
}


