<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Tilt+Prism&family=Tilt+Warp&display=swap" rel="stylesheet">
</head>

<div>
  <mat-toolbar>
    <span class="custom-title"></span>
    <div class="flex-container">
      <span class="flex-spacer"></span>
      <mat-form-field>
        <mat-label>Selecione um Genero</mat-label>
        <mat-select>
          <mat-option>None</mat-option>
          <mat-option value="option1">Shounen</mat-option>
          <mat-option value="option2">Shoujo</mat-option>
          <mat-option value="option3">Seinen</mat-option>
          <mat-option value="option4">Josei</mat-option>
          <mat-option value="option5">Isekai</mat-option>
          <mat-option value="option6">Gore</mat-option>
          <mat-option value="option7">Slice of Life</mat-option>
        </mat-select>
      </mat-form-field>
      <a mat-flat-button color="accent" class="custom-button" routerLink="/login">Login</a>
      <a mat-flat-button color="warn" class="custom-button" routerLink="/register">Cadastre-se</a>
    </div>
  </mat-toolbar>

</div>
