.footer {
 /* background-color: #f0f0f0; Cor de fundo cinza claro */
  padding: 10px; /* Espaçamento interno para o conteúdo do rodapé */
  text-align: center; /* Centraliza o texto */
  color: #888; /* Cor do texto cinza */
}
